.modal{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transform: scale(0);
}

.modal.active{
    transform: scale(1);
}

.modal__content{
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    /* height: 600px;
    width: 800px; */
}

.userButtons{
    margin-top: 30px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.loginForm{
    height: 300px;
    width: 300px;
}

.registerForm{
    height: 300px;
    width: 500px;
    margin: 10px;
}

.inputs_block{
    display: flex;
    flex-direction: column;
    margin: 0 80px;
}

.informator {
  text-align: center;
}


.user__info{
    padding: 10px;
}

.user__info h1{
    margin: 5px auto;
    color: rebeccapurple;
}

.user__info h3{
    margin: 5px auto;
}


